
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
  </div>
<div class="modal-body">
  <div class="col-md-12">
    <div class="panel-body">

      <p>Are you sure you want to delte this item</p>
    </div>
  </div>
</div>
  <div class="modal-footer">
    <div class="col-md-12">
      <button class="btn" ng-click="cancel()">Delete</button>
      <button class="btn" ng-click="cancel()">Cancel</button>
    </div>    
  </div>
</div>